@import "tailwindcss";

:root {
  --background: #ad0000;
  --foreground: #1b1b1b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: #1b1b1b;
  font-family: Arial, Helvetica, sans-serif;
}

.text-red {
  color: #ad0000;
}

.bg-red {
  background: #ad0000;
}

.bg-white {
  background: #f9fdfe;
}
